body{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    /*background-color: linear-gradient(blue,green);*/
    
    font-size:medium;
}

form{
    border: solid white 5px;
    
    background-color: rgb(222, 255, 56);
    box-shadow: 4px 8px rgba(0,0,0,0.2);
    margin-top: 20px;
    padding: 40px 20px;
    margin: 10px 50px;
}

input,select{
    font-size:larger;
    background-color: aqua;
    margin: 10px;
    border-radius: 5px;
}
#title1,#title2{
    width: 40%;
    height: auto;
    padding: 10px;
}

#title1{
    border-radius: 45px 0 0 45px;
    margin-right: -3px;
    display: inline;
    position: relative;
    background-color: rgb(255, 246, 127);
    
}

#title1:hover{
    background-color: rgba(37, 194, 194, 0.958);
}

#title2{
    border-radius: 0px 45px 45px 0px;
    margin-left: -3px;
    background-color: rgba(37, 194, 194, 0.958);
}

#title2:hover{
    background-color: aqua;
}


#dept,#reg{
    margin: 10px;
    padding: 2px 5px;
    width: 35%;
    border-radius: 5px;
    
}

#reg{
    margin-left:25px;
}

h2{
    font-size: 30px;
}

#pic{
    height: 200px;
    width: 300px;
    border: solid black 2px;
    
    border-radius: 5px;

    /*display: block;
    margin: 0px auto;*/
    display: flex;
    justify-self: center;
    justify-content: center;
    justify-self: center;
}

#gpa{
    padding: 10px;
    width: auto;
    border-radius: 10px;
    
}

#sem{
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: larger;
}